@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div.gameContainer {
	display: flex;
	border: 5px solid #c1950e;
	border-radius: 20px;
	padding: 5% 3%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
	width: 100vw;
	max-width: 56vh;
	max-height: 177vw;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../../photo/containerBg.jpg");
	background-size: cover;
	color: #dcdcdc;
}

.gameContainer h1 {
	background-image: linear-gradient(#c1950e, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 5vh;
	margin-bottom: 2%;
}

.titleWrapper {
	width: 100%;
}

.menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
#p1,
#p2 {
	width: 100%;
	height: auto;
	align-self: center;
}

.p1Info,
.p2Info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 47%;
}

#p1Name,
#p2Name {
	background-image: linear-gradient(to right, #733fa1, #e5adff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 3vh;
	padding: 5px 0;
}

#p1Health,
#p2Health {
	font-size: 50px;
}

.playerControls {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.AttackDiv {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 40px;
	width: 100px;
}

.HealDiv {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 40px;
	width: 100px;
}

#attack {
	height: 30px;
	width: 60px;
	border-radius: 50px;
	border: none;
	background: #ffff01;
	outline: none;
}

#heal {
	height: 30px;
	width: 60px;
	border-radius: 50px;
	border: none;
	background: #7dffff;
	outline: none;
}

#result {
	font-size: 35px;
	color: #3dff3d;
	height: 50px;
	margin-bottom: 10px;
}

#vs {
	background-image: linear-gradient(#c1950e, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 40px;
	align-self: center;
}

#reset,
#back,
#play {
	font-family: "Fira-sans", sans-serif;
	margin-bottom: 10px;
	height: 50px;
	width: 120px;
	border-radius: 20px;
	background: #ff8800;
	outline: none;
	color: #dcdcdc;
	font-size: 15px;
}

#back {
	background: grey;
}

#play {
	background: #02cf02;
}

.resultContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: auto;
	width: 90%;
}
// @media (max-width: 320px) {
// 	#p1,
// 	#p2 {
// 		width: 80px;
// 		height: 120px;
// 	}
// }
// @media (min-width: 480px) {
// 	#p1,
// 	#p2 {
// 		width: 200px;
// 		height: 280px;
// 	}
// }

// @media (min-width: 720px) {
// 	#p1Name,
// 	#p2Name {
// 		font-size: 50px;
// 	}
// 	#p1,
// 	#p2 {
// 		width: 300px;
// 		height: 420px;
// 	}
// 	#vs {
// 		font-size: 60px;
// 	}
// 	#reset,
// 	#back,
// 	#play {
// 		margin-bottom: 10px;
// 		height: 60px;
// 		width: 150px;
// 		border-radius: 20px;
// 		font-size: 20px;
// 	}
// 	#p1Health,
// 	#p2Health {
// 		font-size: 60px;
// 	}
// 	.AttackDiv {
// 		height: 60px;
// 		width: 130px;
// 		font-size: 40px;
// 	}

// 	.HealDiv {
// 		height: 60px;
// 		width: 130px;
// 		font-size: 40px;
// 	}

// 	#attack {
// 		height: 50px;
// 		width: 100px;
// 		font-size: 20px;
// 	}

// 	#heal {
// 		height: 50px;
// 		width: 100px;
// 		font-size: 20px;
// 	}
// }

// @media (min-width: 1280px) {
// 	#p1Name,
// 	#p2Name {
// 		font-size: 70px;
// 	}
// 	#vs {
// 		font-size: 80px;
// 	}
// 	#reset,
// 	#back,
// 	#play {
// 		margin-bottom: 10px;
// 		height: 60px;
// 		width: 150px;
// 		border-radius: 20px;
// 		font-size: 20px;
// 	}
// 	#p1Health,
// 	#p2Health {
// 		font-size: 70px;
// 	}
// 	#result {
// 		font-size: 70px;
// 		height: 60px;
// 		margin-bottom: 20px;
// 	}
// 	div.container {
// 		max-width: 1400px;
// 	}
// }
