div.pickContainer {
	display: flex;
	border: 5px solid #c1950e;
	border-radius: 20px;
	padding: 5% 3%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
	width: 100vw;
	max-width: 56vh;
	max-height: 177vw;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("./photo/containerBg.jpg");
	background-size: cover;
	color: #dcdcdc;
}

.pickContainer h1 {
	background-image: linear-gradient(#c1950e, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 5vh;
	margin-bottom: 2%;
}

.titleWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.playersWrapper {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.vs {
	background-image: linear-gradient(#c1950e, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	align-self: center;
	font-size: 4vh;
	padding: 0 2%;
}

.pickTitle {
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 2vh;
}

.player1Wrapper,
.player2Wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.innerContainer {
	display: flex;
	margin-bottom: 5%;
}

#newHeroButton,
#newHeroButton2,
#searchButton,
#searchButton2 {
	font-size: 1.5vh;
	font-weight: 700;
	background-image: linear-gradient(to right, #e5adff, #733fa1);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: 0.4s;
	padding: 1% 2%;
	border: 1px solid #733fa1;
	border-radius: 5px;
}

#newHeroButton,
#newHeroButton2 {
	width: 90%;
}

#searchInput,
#searchInput2 {
	font-size: 1.5vh;
	padding: 4px;
	border-radius: 5px;
	width: 75%;
}

#newHeroButton:hover,
#newHeroButton2:hover,
#searchButton:hover,
#searchButton2:hover {
	opacity: 0.6;
	cursor: pointer;
}

#heroImage,
#heroImage2 {
	display: flex;
	flex-direction: column;
	margin-top: 8%;
}

#heroImage img,
#heroImage2 img {
	max-width: 95%;
	height: auto;
	align-self: center;
	margin-top: 2%;
	margin-bottom: 5%;
}

#heroImage h2,
#heroImage2 h2 {
	background-image: linear-gradient(to right, #733fa1, #e5adff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-bottom: 5px;
	padding-top: 5px;
	align-self: center;
	font-size: 3vh;
}

#heroImage2 p,
#heroImage p {
	background-image: linear-gradient(#e5adff, #733fa1);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 3px;
	text-align: center;
	font-size: 2vh;
}

#heroImage p span,
#heroImage2 p span {
	background-image: initial;
	-webkit-background-clip: initial;
	-webkit-text-fill-color: initial;
}

.nextButtons {
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nextButtons a {
	cursor: pointer;
	margin: 1% 0;
	font-size: 2vh;
}

#wrapper.active {
	h1 {
		font-size: 8.88vw; //5 vh
	}
	.vs {
		font-size: 7.08vw; //4vh
	}
	//  {
	// 	font-size: 6.2vw; //3.6vh
	// }
	.buttons,
	#heroImage h2,
	#heroImage2 h2 {
		font-size: 5.31vw; //3vh
	}
	// #heroImage2 p,
	// #heroImage p {
	// 	font-size: 4.425vw; //2.5vh
	// }
	.nextButtons a,
	.pickTitle,
	#heroImage2 p,
	#heroImage p {
		font-size: 3.54vw; //2vh
	}
	#newHeroButton,
	#newHeroButton2,
	#searchButton,
	#searchButton2,
	#searchInput,
	#searchInput2 {
		font-size: 2.65vw; //1.5vh
	}
}
