@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
div.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "VT323", monospace;
	background-image: url("./photo/background.jpg");
	background-position: center;
	color: #dcdcdc;
	border: 5px solid #c1950e;
	border-radius: 20px;
	max-width: 95%;
}
.menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#p1,
#p2 {
	width: 120px;
	height: 165px;
	align-self: center;
}

.p1Info,
.p2Info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 45%;
	padding: 10px;
}

#p1Name,
#p2Name {
	font-size: 25px;
}

#p1Health,
#p2Health {
	font-size: 50px;
}

.playerControls {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.AttackDiv {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 40px;
	width: 100px;
}

.HealDiv {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 40px;
	width: 100px;
}

#attack {
	height: 30px;
	width: 60px;
	border-radius: 50px;
	border: none;
	background: #ffff01;
	outline: none;
}

#heal {
	height: 30px;
	width: 60px;
	border-radius: 50px;
	border: none;
	background: #7dffff;
	outline: none;
}

#result {
	font-size: 35px;
	color: #3dff3d;
	height: 50px;
	margin-bottom: 10px;
}

#vs {
	background-image: linear-gradient(#c1950e, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 40px;
}

#reset,
#back,
#play {
	font-family: "Fira-sans", sans-serif;
	margin-bottom: 10px;
	height: 50px;
	width: 120px;
	border-radius: 20px;
	background: #ff8800;
	outline: none;
	color: #dcdcdc;
	font-size: 15px;
}

#back {
	background: grey;
}

#play {
	background: #02cf02;
}

.resultContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: auto;
	width: 90%;
}
@media (min-width: 480px) {
	#p1,
	#p2 {
		width: 200px;
		height: 280px;
		align-self: center;
	}
}

@media (min-width: 720px) {
	#p1Name,
	#p2Name {
		font-size: 50px;
	}
	#p1,
	#p2 {
		width: 300px;
		height: 420px;
		align-self: center;
	}
	#vs {
		font-size: 60px;
	}
	#reset,
	#back,
	#play {
		margin-bottom: 10px;
		height: 60px;
		width: 150px;
		border-radius: 20px;
		font-size: 20px;
	}
	#p1Health,
	#p2Health {
		font-size: 60px;
	}
	.AttackDiv {
		height: 60px;
		width: 130px;
		font-size: 40px;
	}

	.HealDiv {
		height: 60px;
		width: 130px;
		font-size: 40px;
	}

	#attack {
		height: 50px;
		width: 100px;
		font-size: 20px;
	}

	#heal {
		height: 50px;
		width: 100px;
		font-size: 20px;
	}
}
@media (min-width: 1080px) {
	#p1,
	#p2 {
		width: 450px;
		height: 610px;
		align-self: center;
	}

@media (min-width: 1280px) {
	#p1Name,
	#p2Name {
		font-size: 70px;
	}
	#vs {
		font-size: 80px;
	}
	#reset,
	#back,
	#play {
		margin-bottom: 10px;
		height: 60px;
		width: 150px;
		border-radius: 20px;
		font-size: 20px;
	}
	#p1Health,
	#p2Health {
		font-size: 70px;
	}
	#result {
		font-size: 70px;
		height: 60px;
		margin-bottom: 20px;
	}
	div.container {
		max-width: 1400px;
	}
}
