@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import "game";
@import "heroPick";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "VT323", monospace;
	background-image: url("../../photo/background.jpg");
	background-size: cover;
}

div.wrapper {
	display: flex;
	border: 5px solid #c1950e;
	border-radius: 20px;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
	width: 100vw;
	max-width: 56vh;
	max-height: 177vw;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../../photo/containerBg.jpg");
	background-size: cover;
	color: #dcdcdc;
}

div.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 10%;
	font-size: 3vh;
}

div.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5%;
}
a {
	font-family: "Fira-sans", sans-serif;
	color: #dcdcdc;
	display: flex;
	justify-content: center;
	margin: 3% 0;
	padding: 3% 3%;
	text-decoration: none;
	border: 4px solid #dcdcdc;
	border-radius: 5px;
	background-color: transparent;
	outline: none;
	width: 75%;
	font-weight: 900;
	transition: all 0.5s ease;
}

a:hover {
	background-color: #dcdcdc;
	color: black;
}

.container h1 {
	background-image: linear-gradient(#c1950e, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 5vh;
}

.container h2 {
	margin-top: 2%;
	margin-bottom: 3%;
	font-size: 4vh;
}

.container h3 {
	align-self: flex-start;
	margin: 2%;
	font-size: 2.5vh;
}

.wrapper.active {
	h1 {
		font-size: 8.88vw;
	}
	h2 {
		font-size: 7.08vw;
	}
	h3 {
		font-size: 4.425vw;
	}
	.buttons {
		font-size: 5.31vw;
	}
}
