@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import "game";
@import "heroPick";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "VT323", monospace;
	background-image: url("../../photo/background.jpg");
	background-size: cover;
}

div.container {
	display: flex;
	border: 5px solid #c1950e;
	border-radius: 20px;
	padding: 40px;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	height: 100vh;
	width: 100vw;
	max-width: 56vh;
	max-height: 177vw;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../../photo/containerBg.jpg");
	background-size: cover;
	color: #dcdcdc;
}

a {
	font-family: "Fira-sans", sans-serif;
	font-size: 30px;
	display: flex;
	justify-content: center;
	// margin: 10px;
	padding: 10px;
	text-decoration: none;
	border: 2px solid #733fa1;
	border-radius: 5px;
	color: #dcdcdc;
	width: 70%;
	font-weight: 900;
}

// .playButton {
// 	margin-top: 60%;
// }

.container h1 {
	background-image: linear-gradient(#c1950e, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.container h2 {
	margin-top: 5px;
	margin-bottom: 10px;
}

.container h3 {
	align-self: flex-start;
	margin: 5px;
}

a:hover {
	background-color: #733fa1;
	border-color: #353ca7;
	color: black;
}

@media (max-width: 720px) {
	.menu {
		// width: 75%;
	}
	div.container {
		// max-width: 95%;
	}
	a {
		font-size: 20px;
		padding: 5px;
	}
}
@media (min-width: 720px) {
	.container h1 {
		font-size: 60px;
	}
	.container h2 {
		font-size: 40px;
	}

	.container h3 {
		font-size: 27px;
	}
}
@media (min-width: 1280px) {
	div.container {
		// max-width: 50%;
	}
	.container h1 {
		font-size: 70px;
	}
}
