@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "VT323", monospace;
}

div.container {
	display: flex;
	border: 5px solid #353ca7;
	border-radius: 20px;
	padding: 40px;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

a {
	font-family: "Fira-sans", sans-serif;
	font-size: 30px;
	display: flex;
	justify-content: center;
	margin: 20px;
	padding: 10px;
	text-decoration: none;
	border: 2px solid #733fa1;
	border-radius: 5px;
	color: black;
	width: 100%;
	font-weight: 900;
}

a:hover {
	background-color: #733fa1;
	border-color: #353ca7;
	color: white;
}

.container h2 {
	margin-bottom: 10px;
}

.menu {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 600px) {
	.menu {
		width: 75%;
	}
}

#p1,
#p2 {
	width: 100px;
	height: auto;
}

.p1Info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 300px;
	width: 300px;
}

#p1Name {
	font-size: 30px;
}

#p1Health {
	font-size: 50px;
}

.p2Info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 300px;
	width: 300px;
}

#p2Name {
	font-size: 30px;
}

#p2Health {
	font-size: 50px;
}

.playerControls {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.AttackDiv {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 40px;
	width: 100px;
}

.HealDiv {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 40px;
	width: 100px;
}

#attack {
	height: 30px;
	width: 60px;
	border-radius: 50px;
	border: none;
	background: #ffff01;
	outline: none;
}

#heal {
	height: 30px;
	width: 60px;
	border-radius: 50px;
	border: none;
	background: #7dffff;
	outline: none;
}

#play {
	height: 50px;
	width: 120px;
	border-radius: 20px;
	background: #02cf02;
	outline: none;
	color: white;
}

#result {
	font-size: 50px;
	color: #3dff3d;
}

#reset,
#back {
	margin-top: 20px;
	height: 50px;
	width: 100px;
	border-radius: 20px;
	background: #ff8800;
	outline: none;
	color: white;
}

#back {
	background: grey;
}

.resultContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 150px;
	width: 300px;
}

.pickTitle {
	margin-top: 20px;
}

#newHeroButton,
#newHeroButton2,
#searchButton,
#searchButton2 {
	font-weight: 700;
	background-image: linear-gradient(to right, #e5adff, #733fa1);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: 0.4s;
}

#newHeroButton:hover,
#newHeroButton2:hover,
#searchButton:hover,
#searchButton2:hover {
	opacity: 0.6;
	cursor: pointer;
}

#heroImage,
#heroImage2 {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

#heroImage img,
#heroImage2 img {
	max-width: 50%;
	height: auto;
	align-self: center;
}

#heroImage h2,
#heroImage2 h2 {
	background-image: linear-gradient(to right, #733fa1, #e5adff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-bottom: 5px;
	padding-top: 5px;
	align-self: center;
	font-size: 35px;
}

#heroImage2 p,
#heroImage p {
	background-image: linear-gradient(#e5adff, #733fa1);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 3px;
	text-align: center;
	font-size: 20px;
}

#heroImage p span,
#heroImage2 p span {
	background-image: initial;
	-webkit-background-clip: initial;
	-webkit-text-fill-color: initial;
}
